src/main/resources/etudiant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://supnum.com/etudiant"
           xmlns:tns="http://supnum.com/etudiant"
           elementFormDefault="qualified">

    <xs:complexType name="Etudiant">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="nom" type="xs:string"/>
            <xs:element name="prenom" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="filiere" type="xs:string"/>
            <xs:element name="annee" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <!-- GetEtudiant -->
    <xs:element name="GetEtudiantRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetEtudiantResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="etudiant" type="tns:Etudiant"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- GetAll -->
    <xs:element name="GetAllEtudiantsRequest"/>

    <xs:element name="GetAllEtudiantsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="etudiant" type="tns:Etudiant" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
